@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

body{
    background-color: #ACAE65;
}

div.mapa {
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 5rem;       
  width: 100%;
  
}
div.mapa img {
  width: 70%;
  height: auto;
  border-radius: 1rem;
  border: 4px solid black;
}